

.page-text {
    /* font-family: 'Roboto', sans-serif; */
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5rem;
    gap: 20px;
}

.page-text-heading {
    font-weight: 100;
    font-size: 32px;
    /* text-align: center; */
    padding: 0 10px;
    text-transform: capitalize;
    line-height: 2rem;
    word-spacing: .2rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.text-align-start {
    text-align: start;
}

.page-text-text {
    font-family: var(--font-secondary);
}

.vertical-divider {
    height: 50px;
    width: 1px;
    background-color: turquoise;
}
