.menu {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgb(246, 244, 244);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: var(--nav-height);
    transition: height 500ms ease-in-out, 
    visibility 500ms ease-in-out,
}

.menu-content {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;

}

.link {
    text-decoration: none;
    color: var(--color-black);
}

.show {
    visibility: visible;
    height: 580px;
}

.hide {
    visibility: hidden;
    height: 0;
}

.selected {
    color: var(--color-blue);
    text-decoration: none;
}