.mini-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 2rem;
}


.img-box {
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: var(--border-gradient);
    border-image-slice: 1;
}

.img-box > img:hover {
    opacity: .5;
}

.img-box > img {
    opacity: 1;
    cursor: zoom-in;
}

.image-details {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.gallery-text {
    font-size: 1.5rem;
}