.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--nav-height);
}

.nav-content {
    width: calc(100% - 40px);
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-right {
    display: flex;
    align-items: center;
}

.nav-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    padding-right: 15px;
}

.vertical-line {
    width: 2px;
    height: 18px;
    background-color: black;
}

.lang-el {
    cursor: pointer;
    border-radius: 10%;
    padding: 0 5px;
    opacity: 0.5;
}

.lang-el:hover {
    background-color: rgb(224, 222, 222);
}

.lang-chosen {
    color: var(--color-blue);
    opacity: 1;
}