.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 40px;
}

.hero {
    font-weight: 100;
    font-size: 46px;
    text-align: center;
    padding: 0 10px;
}